// .container {
//   border: #000000 1px solid;
//   background-color: #CECECE;
//   padding: 20px;
//   margin: 20px;
//
//   p {
//     font-weight: bolder;
//     text-align: center;
//     color: #FFFFFF;
//   }
//
//   .type1 {
//     background-color: red;
//   }
//   .type2 {
//     background-color: blue;
//   }
//   .type3 {
//     background-color: purple;
//   }
// }


.container {
  border: #000000 1px solid;
  background-color: #CECECE;
  padding: 20px;
  margin: 20px;
}

.container p {
  font-weight: bolder;
  text-align: center;
  color: #FFFFFF;
}

.container .type1 {
  background-color: red;
}

.container .type2 {
  background-color: blue;
}

.container .type3 {
  background-color: purple;
}
