//$btnColor: #FAFAFA;
//$btnColor:  #E12027;

.btnOne {
  font-family: "Arial";
  font-weight: lighter;
  background-color: #FAFAFA !important;
}

.btnTwo {
  font-family: "Times New Roman";
  background-color: #FAFAFA !important;
}

.btnThree {
  font-family: "Verdana";
  font-weight: bolder;
  background-color: #FAFAFA !important;
}
