//$btnColor: #FAFAFA;
$btnColor:  #E12027;

.btnOne {
  background-color: $btnColor !important;
}

.btnTwo {
  background-color: $btnColor !important;
}

.btnThree {
  background-color: $btnColor !important;
}
